</div>
   <div class="footer">
       <div class="row">
           <div class="col-md-6">
               <p>&copy; Copyright 2021 Devashish</p>
           </div>
           <div class="col-md-6">
    
               <a href="https://github.com/devashishbeniwal" target="_blank">
                   <i class="fab fa-github"></i>
               </a>
               <a href="https://www.linkedin.com/in/devashish-beniwal-87324221a/" target="_blank">
                   <i class="fab fa-linkedin"></i>
               </a>
               <a href = "mailto: devashishbeniwal8@gmail.com">
                   <i class="fas fa-envelope"></i>
                </a>
           </div>
       </div>

   </div>
 
   </body>

   </html>